In [2]:
import requests
import pandas as pd
import json

### API - lang

In [ ]:
url = f"http://172.26.132.163:5984/loc_twitter_huge/_design/emoji/_view/lang-count?reduce=true&group=true"

response = requests.get(url, auth=('admin', 'pass'))

if response.status_code == 200:
    view_data = response.json()
else:
    print("Failed to retrieve view data. Status code:", response.status_code)

In [ ]:
data = view_data['rows']
value = [list(d.values())[1] for d in data]
lang = [list(d.values())[0][0] for d in data]
emoji = [list(d.values())[0][1] for d in data]

In [ ]:
data_clean = {
    'emoji': emoji,
    'lang': lang,
    'value': value
}

In [ ]:
df = pd.DataFrame(data_clean)
df.head(5)

### API - lang

In [ ]:
df.lang.value_counts().head(10)

In [ ]:
en = df[df.lang == 'en'].sort_values(by=['value'], ascending=False).head(6)
en = en.drop(en.index[3])
en

In [ ]:
ja = df[df.lang == 'ja'].sort_values(by=['value'], ascending=False).head(5)
ja

In [ ]:
ind = df[df.lang == 'in'].sort_values(by=['value'], ascending=False).head(5)
ind

In [ ]:
es = df[df.lang == 'es'].sort_values(by=['value'], ascending=False).head(5)
es

In [ ]:
ar = df[df.lang == 'ar'].sort_values(by=['value'], ascending=False).head(6)
ar = ar.drop(ar.index[1])
ar

In [ ]:
dfs = [en,ja,ind,es,ar]
merged_df = pd.concat(dfs)
merged_df = merged_df.reset_index(drop=True)

In [ ]:
json_data1 = merged_df.to_json(orient='records')
merged_df.to_json('emoji_lang.json')

In [ ]:
json_data1

### API - state

In [ ]:
url = f"http://172.26.132.163:5984/loc_twitter_huge/_design/emoji/_view/ste-count?reduce=true&group=true"

response = requests.get(url, auth=('admin', 'pass'))

if response.status_code == 200:
    view_data = response.json()
else:
    print("Failed to retrieve view data. Status code:", response.status_code)

In [ ]:
data = view_data['rows']
value = [list(d.values())[1] for d in data]
state = [list(d.values())[0][0] for d in data]
emoji = [list(d.values())[0][1] for d in data]

In [ ]:
data_clean = {
    'emoji': emoji,
    'state': state,
    'value': value
}
df = pd.DataFrame(data_clean)
df.head(5)

In [ ]:
df.state.value_counts()

In [ ]:
nsw = df[df.state == 1].sort_values(by=['value'], ascending=False).head(5)
nsw = nsw.drop(nsw.index[3])
nsw

In [ ]:
vic = df[df.state == 2].sort_values(by=['value'], ascending=False).head(7)
vic = vic.drop(vic.index[2])
vic = vic.drop(vic.index[2])
vic = vic.drop(vic.index[2])
vic

In [ ]:
qs = df[df.state == 3].sort_values(by=['value'], ascending=False).head(4)
qs

In [ ]:
sa = df[df.state == 4].sort_values(by=['value'], ascending=False).head(4)
sa

In [ ]:
wa = df[df.state == 5].sort_values(by=['value'], ascending=False).head(7)
wa = wa.drop(wa.index[2])
wa = wa.drop(wa.index[3])
wa = wa.drop(wa.index[3])
wa

In [ ]:
tas = df[df.state == 6].sort_values(by=['value'], ascending=False).head(4)
tas

In [ ]:
nt = df[df.state == 7].sort_values(by=['value'], ascending=False).head(4)
nt

In [ ]:
dfs2 = [nsw,vic,qs,sa,wa,tas,nt]
merged_df2 = pd.concat(dfs2)
merged_df2 = merged_df2.reset_index(drop=True)

In [ ]:
merged_df2['lat'] = -37.810708
merged_df2['lng'] = 144.943841

In [ ]:
#nsw
merged_df2.loc[0, 'lat'] = -33.88925
merged_df2.loc[0, 'lng'] = 151.20289

merged_df2.loc[1, 'lat'] = -31.867983
merged_df2.loc[1, 'lng'] = 145.482869

merged_df2.loc[2, 'lat'] = -34.30041
merged_df2.loc[2, 'lng'] = 146.00359

merged_df2.loc[3, 'lat'] = -30.246269
merged_df2.loc[3, 'lng'] = 151.770008

In [ ]:
#vic
merged_df2.loc[4, 'lat'] = -37.3780
merged_df2.loc[4, 'lng'] = 148.2917145

merged_df2.loc[5, 'lat'] = -35.120197
merged_df2.loc[5, 'lng'] = -35.120197

merged_df2.loc[6, 'lat'] = -37.319106
merged_df2.loc[6, 'lng'] =  142.042143

In [ ]:
merged_df2.loc[8, 'lat'] = -25.333298
merged_df2.loc[8, 'lng'] = 148.448364

merged_df2.loc[9, 'lat'] = -20.784911
merged_df2.loc[9, 'lng'] = 143.141402

merged_df2.loc[10, 'lat'] = -25.161405
merged_df2.loc[10, 'lng'] = 142.719402

merged_df2.loc[11, 'lat'] = -25.887920
merged_df2.loc[11, 'lng'] = 150.135953

In [ ]:
#sa
merged_df2.loc[12, 'lat'] = -27.835395
merged_df2.loc[12, 'lng'] = 132.238445

merged_df2.loc[13, 'lat'] = -27.990725
merged_df2.loc[13, 'lng'] = 136.105632

merged_df2.loc[14, 'lat'] = -31.199844
merged_df2.loc[14, 'lng'] = 134.281902

merged_df2.loc[15, 'lat'] = -27.777637
merged_df2.loc[15, 'lng'] = 138.593487

In [ ]:
#wa
merged_df2.loc[16, 'lat'] = -23.795314
merged_df2.loc[16, 'lng'] = 123.582026

merged_df2.loc[17, 'lat'] = -27.750771
merged_df2.loc[17, 'lng'] = 120.217498

merged_df2.loc[18, 'lat'] = -23.577826
merged_df2.loc[18, 'lng'] = 117.169632

merged_df2.loc[19, 'lat'] = -32.357818
merged_df2.loc[19, 'lng'] = 118.297103

In [ ]:
#tas
merged_df2.loc[20, 'lat'] = -41.105413
merged_df2.loc[20, 'lng'] = 144.981159


merged_df2.loc[21, 'lat'] = -43.414207
merged_df2.loc[21, 'lng'] = 146.431354


merged_df2.loc[22, 'lat'] = -41.105413
merged_df2.loc[22, 'lng'] = 148.013385

merged_df2.loc[23, 'lat'] = -42.102924
merged_df2.loc[23, 'lng'] = 146.571117

In [ ]:
#nt
merged_df2.loc[24, 'lat'] = -22.192125
merged_df2.loc[24, 'lng'] = 133.121451

merged_df2.loc[25, 'lat'] = -18.744005
merged_df2.loc[25, 'lng'] = 131.379813

merged_df2.loc[26, 'lat'] = -18.744005
merged_df2.loc[26, 'lng'] = 136.327648

merged_df2.loc[27, 'lat'] = -14.142042
merged_df2.loc[27, 'lng'] = 133.118243

In [ ]:
merged_df2

In [ ]:
json_data2 = merged_df2.to_json(orient='records')
merged_df2.to_json('emoji_state.json')

In [ ]:
json_data2

### Emoji sentiment(lang)

In [3]:
url = f"http://172.26.132.163:5984/twitter/_design/emoji/_view/lang-senti?reduce=true&group=true"

response = requests.get(url, auth=('admin', 'pass'))

if response.status_code == 200:
    view_data3 = response.json()
else:
    print("Failed to retrieve view data. Status code:", response.status_code)

In [4]:
data3 = view_data3['rows']
sum = [list(list(d.values())[1].values())[0] for d in data3]
count = [list(list(d.values())[1].values())[1] for d in data3]
avg = [list(list(d.values())[1].values())[2] for d in data3]
lang = [list(d.values())[0][0] for d in data3]
emoji = [list(d.values())[0][1] for d in data3]

In [5]:
data_clean = {
    'lang': lang,
    'emoji': emoji,
    'sum': sum,
    'count': count,
    'avg': avg
}

In [ ]:
df = pd.DataFrame(data_clean)

df.head(5)

#### Most negative emoji

In [ ]:
df_no_lang = df.drop('lang', axis=1)
df_no_lang = df_no_lang.loc[(df['count'] > 30),:]
ne = df_no_lang.groupby('emoji')['avg'].mean().reset_index().sort_values('avg').head(5)

In [ ]:
ne.to_json('most_ne_emoji.json')
json_data4 = ne.to_json(orient='records')
json_data4

#### Most positive emoji

In [ ]:
po = df_no_lang.groupby('emoji')['avg'].mean().reset_index().sort_values('avg', ascending=False).head(5)

In [ ]:
po.to_json('most_ne_emoji.json')
json_data5 = po.to_json(orient='records')
json_data5

#### Top 5 emoji used in au

In [ ]:
df_no_lang.groupby('emoji')['count'].sum().sort_values(ascending=False).head(6)

In [ ]:
ne1 = df.loc[(df['emoji'] == '🔥') & (df['count'] > 20),:].sort_values('avg').head(5)

In [ ]:
po1 = df.loc[(df['emoji'] == '🔥') & (df['count'] > 20),:].sort_values('avg',ascending=False).head(5)

In [ ]:
ne2 = df.loc[(df['emoji'] == '🙏') & (df['count'] > 20),:].sort_values('avg').head(5)

In [ ]:
po2 = df.loc[(df['emoji'] == '🙏') & (df['count'] > 20),:].sort_values('avg',ascending=False).head(5)

In [ ]:
ne3 = df.loc[(df['emoji'] == '😂') & (df['count'] > 20),:].sort_values('avg').head(5)

In [ ]:
po3 = df.loc[(df['emoji'] == '😂') & (df['count'] > 20),:].sort_values('avg',ascending=False).head(5)

In [ ]:
ne4 = df.loc[(df['emoji'] == '👏') & (df['count'] > 20),:].sort_values('avg').head(5)

In [ ]:
po4 = df.loc[(df['emoji'] == '👏') & (df['count'] > 20),:].sort_values('avg',ascending=False).head(5)

In [ ]:
ne5 = df.loc[(df['emoji'] == '👍') & (df['count'] > 20),:].sort_values('avg').head(5)

In [ ]:
po5 = df.loc[(df['emoji'] == '👍') & (df['count'] > 20),:].sort_values('avg',ascending=False).head(5)

In [ ]:
dfs3 = [po1,ne1,po2,ne2,po3,ne3,po4,ne4,po5,ne5]
merged_df3 = pd.concat(dfs3)
merged_df3 = merged_df3.reset_index(drop=True)

In [ ]:
json_data3 = merged_df3.to_json(orient='records')
merged_df3.to_json('emoji_diff_in_lang.json')

### Emoji sentiment（AU）

In [6]:
url = f"http://172.26.132.163:5984/twitter/_design/emoji-senti/_view/emoji-senti"

response = requests.get(url, auth=('admin', 'pass'))

if response.status_code == 200:
    view_data4 = response.json()
else:
    print("Failed to retrieve view data. Status code:", response.status_code)

In [7]:
data4 = view_data4['rows']
value = [list(d.values())[2] for d in data4]
emoji = [list(d.values())[1] for d in data4]

In [8]:
data_clean = {
    'emoji': emoji,
    'value': value,
}

In [9]:
df = pd.DataFrame(data_clean)
df.head(5)

  emoji     value
0     🇦  0.142857
1     🇦  0.043478
2     🇦  0.000000
3     🇦  0.000000
4     🇦  0.000000

In [36]:
counts = df.groupby('emoji').count()
counts.rename(columns={'value': 'counts'}, inplace=True)

In [37]:
positive_counts = df[df['value'] > 0].groupby('emoji').count()
negative_counts = df[df['value'] < 0].groupby('emoji').count()
neutra_counts = df[df['value'] == 0].groupby('emoji').count()

In [38]:
positive_perent = df.groupby('emoji')['value'].apply(lambda x: (x > 0).mean() * 100)
positive_perent = positive_perent.rename('positive')

negative_perent = df.groupby('emoji')['value'].apply(lambda x: (x < 0).mean() * 100)
negative_perent = negative_perent.rename('negative')

neutral_perent = df.groupby('emoji')['value'].apply(lambda x: (x == 0).mean() * 100)
neutral_perent = neutral_perent.rename('neutral')

In [39]:
df_perent = pd.concat([positive_perent ,neutral_perent,negative_perent,counts], axis=1)
df_perent = df_perent[df_perent.counts > 10]

In [40]:
df_perent['diff'] = abs(df_perent['positive'] - df_perent['negative'])

In [41]:
df_perent = df_perent.reset_index()

In [42]:
diff = df_perent.sort_values('diff').head(5)
diff

    emoji   positive    neutral   negative  counts      diff
544     🔼  13.333333  73.333333  13.333333      15  0.000000
587     🗯  15.000000  70.000000  15.000000      40  0.000000
644     😱  21.470054  57.114338  21.415608    5510  0.054446
646     😳  23.480877  52.677267  23.841856   11635  0.360980
648     😵  17.939110  63.653396  18.407494    2135  0.468384

In [43]:
diff['data'] = diff.apply(lambda row: [{"x": "positive", "y": round(row['positive'],2)}, 
                                             {"x": "neutral", "y": round(row['neutral'],2)}, 
                                             {"x": "negative", "y": round(row['negative'],2)}], 
                                    axis=1)
diff.drop(['diff','positive','neutral','negative','counts'], axis=1, inplace=True)
diff

    emoji                                               data
544     🔼  [{'x': 'positive', 'y': 13.33}, {'x': 'neutral...
587     🗯  [{'x': 'positive', 'y': 15.0}, {'x': 'neutral'...
644     😱  [{'x': 'positive', 'y': 21.47}, {'x': 'neutral...
646     😳  [{'x': 'positive', 'y': 23.48}, {'x': 'neutral...
648     😵  [{'x': 'positive', 'y': 17.94}, {'x': 'neutral...

In [44]:
df_perent = df_perent.drop(df_perent.index[256])
most_5 = df_perent.sort_values('counts',ascending = False).head(5)
most_5

    emoji   positive    neutral   negative  counts       diff
597     😂  36.316472  52.176556  11.506971  123360  24.809501
674     🙏  56.609403  38.941822   4.448775   41562  52.160627
340     👏  46.345333  50.045149   3.609518   40975  42.735815
524     🔥  27.224041  64.468641   8.307317   39399  18.916724
338     👍  49.441755  44.759600   5.798645   30990  43.643111

In [45]:
most_5['data'] = most_5.apply(lambda row: [{"x": "positive", "y": round(row['positive'],2)}, 
                                             {"x": "neutral", "y": round(row['neutral'],2)}, 
                                             {"x": "negative", "y": round(row['negative'],2)}], 
                                    axis=1)
most_5.drop(['diff','positive','neutral','negative','counts'], axis=1, inplace=True)

#### The five with the greatest positive and negative differences

In [46]:
json_data3 = diff.to_json(orient='records')
diff.to_json('most_diff_sent.json')
json_data3

'[{"emoji":"\\ud83d\\udd3c","data":[{"x":"positive","y":13.33},{"x":"neutral","y":73.33},{"x":"negative","y":13.33}]},{"emoji":"\\ud83d\\uddef","data":[{"x":"positive","y":15.0},{"x":"neutral","y":70.0},{"x":"negative","y":15.0}]},{"emoji":"\\ud83d\\ude31","data":[{"x":"positive","y":21.47},{"x":"neutral","y":57.11},{"x":"negative","y":21.42}]},{"emoji":"\\ud83d\\ude33","data":[{"x":"positive","y":23.48},{"x":"neutral","y":52.68},{"x":"negative","y":23.84}]},{"emoji":"\\ud83d\\ude35","data":[{"x":"positive","y":17.94},{"x":"neutral","y":63.65},{"x":"negative","y":18.41}]}]'

#### The five most used difference values

In [47]:
json_data4 = most_5.to_json(orient='records')
most_5.to_json('most_count5_diff_sent.json')
json_data4

'[{"emoji":"\\ud83d\\ude02","data":[{"x":"positive","y":36.32},{"x":"neutral","y":52.18},{"x":"negative","y":11.51}]},{"emoji":"\\ud83d\\ude4f","data":[{"x":"positive","y":56.61},{"x":"neutral","y":38.94},{"x":"negative","y":4.45}]},{"emoji":"\\ud83d\\udc4f","data":[{"x":"positive","y":46.35},{"x":"neutral","y":50.05},{"x":"negative","y":3.61}]},{"emoji":"\\ud83d\\udd25","data":[{"x":"positive","y":27.22},{"x":"neutral","y":64.47},{"x":"negative","y":8.31}]},{"emoji":"\\ud83d\\udc4d","data":[{"x":"positive","y":49.44},{"x":"neutral","y":44.76},{"x":"negative","y":5.8}]}]'

### Emoji subjectivity

In [48]:
url = f"http://172.26.132.163:5984/twitter/_design/emoji-sbj/_view/emoji-sbj"

response = requests.get(url, auth=('admin', 'pass'))

if response.status_code == 200:
    view_data5 = response.json()
else:
    print("Failed to retrieve view data. Status code:", response.status_code)

In [49]:
data5 = view_data5['rows']
value = [list(d.values())[2] for d in data4]
emoji = [list(d.values())[1] for d in data4]

In [50]:
data_clean = {
    'emoji': emoji,
    'value': value,
}

In [51]:
df = pd.DataFrame(data_clean)
df.head(5)

  emoji     value
0     🇦  0.142857
1     🇦  0.043478
2     🇦  0.000000
3     🇦  0.000000
4     🇦  0.000000

In [52]:
counts = df.groupby('emoji').count()
counts.rename(columns={'value': 'counts'}, inplace=True)

In [53]:
positive_counts = df[df['value'] > 0].groupby('emoji').count()
negative_counts = df[df['value'] < 0].groupby('emoji').count()
neutra_counts = df[df['value'] == 0].groupby('emoji').count()

In [54]:
positive_perent = df.groupby('emoji')['value'].apply(lambda x: (x > 0.5).mean() * 100)
positive_perent = positive_perent.rename('positive')

negative_perent = df.groupby('emoji')['value'].apply(lambda x: (x < 0.5).mean() * 100)
negative_perent = negative_perent.rename('negative')

neutral_perent = df.groupby('emoji')['value'].apply(lambda x: (x == 0.5).mean() * 100)
neutral_perent = neutral_perent.rename('neutral')

In [55]:
df_perent = pd.concat([positive_perent ,neutral_perent,negative_perent,counts], axis=1)
df_perent = df_perent[df_perent.counts > 10]

In [56]:
df_perent['diff'] = abs(df_perent['positive'] - df_perent['negative'])

In [57]:
df_perent = df_perent.reset_index()

In [58]:
diff = df_perent.sort_values('diff').head(5)
diff

    emoji   positive   neutral   negative  counts       diff
133     🍭  51.403368  7.858861  40.737771    1247  10.665597
107     🍓  38.660400  3.760282  57.579318     851  18.918919
82      🌺  36.731044  5.507868  57.761087    2796  21.030043
154     🎂  35.700389  6.322957  57.976654    2056  22.276265
547     🕊  33.999600  7.295623  58.704777    5003  24.705177

In [59]:
diff['data'] = diff.apply(lambda row: [{"x": "positive", "y": round(row['positive'],2)}, 
                                             {"x": "neutral", "y": round(row['neutral'],2)}, 
                                             {"x": "negative", "y": round(row['negative'],2)}], 
                                    axis=1)
diff.drop(['diff','positive','neutral','negative','counts'], axis=1, inplace=True)
diff

    emoji                                               data
133     🍭  [{'x': 'positive', 'y': 51.4}, {'x': 'neutral'...
107     🍓  [{'x': 'positive', 'y': 38.66}, {'x': 'neutral...
82      🌺  [{'x': 'positive', 'y': 36.73}, {'x': 'neutral...
154     🎂  [{'x': 'positive', 'y': 35.7}, {'x': 'neutral'...
547     🕊  [{'x': 'positive', 'y': 34.0}, {'x': 'neutral'...

In [60]:
df_perent = df_perent.drop(df_perent.index[256])
most_5 = df_perent.sort_values('counts',ascending = False).head(5)
most_5

    emoji   positive   neutral   negative  counts       diff
597     😂   2.927205  1.931744  95.141051  123360  92.213846
674     🙏  15.016120  3.815986  81.167894   41562  66.151773
340     👏  10.828554  2.618670  86.552776   40975  75.724222
524     🔥   3.441712  0.850275  95.708013   39399  92.266301
338     👍  11.990965  2.836399  85.172636   30990  73.181672

In [61]:
most_5['data'] = most_5.apply(lambda row: [{"x": "positive", "y": round(row['positive'],2)}, 
                                             {"x": "neutral", "y": round(row['neutral'],2)}, 
                                             {"x": "negative", "y": round(row['negative'],2)}], 
                                    axis=1)
most_5.drop(['diff','positive','neutral','negative','counts'], axis=1, inplace=True)

#### The five with the greatest subjectivity and objectivity differences

In [62]:
json_data5 = diff.to_json(orient='records')
diff.to_json('most_diff_sub.json')
json_data5

'[{"emoji":"\\ud83c\\udf6d","data":[{"x":"positive","y":51.4},{"x":"neutral","y":7.86},{"x":"negative","y":40.74}]},{"emoji":"\\ud83c\\udf53","data":[{"x":"positive","y":38.66},{"x":"neutral","y":3.76},{"x":"negative","y":57.58}]},{"emoji":"\\ud83c\\udf3a","data":[{"x":"positive","y":36.73},{"x":"neutral","y":5.51},{"x":"negative","y":57.76}]},{"emoji":"\\ud83c\\udf82","data":[{"x":"positive","y":35.7},{"x":"neutral","y":6.32},{"x":"negative","y":57.98}]},{"emoji":"\\ud83d\\udd4a","data":[{"x":"positive","y":34.0},{"x":"neutral","y":7.3},{"x":"negative","y":58.7}]}]'

#### The five most used variance values

In [63]:
json_data4 = most_5.to_json(orient='records')
most_5.to_json('most_count5_diff_sent.json')
json_data4

'[{"emoji":"\\ud83d\\ude02","data":[{"x":"positive","y":2.93},{"x":"neutral","y":1.93},{"x":"negative","y":95.14}]},{"emoji":"\\ud83d\\ude4f","data":[{"x":"positive","y":15.02},{"x":"neutral","y":3.82},{"x":"negative","y":81.17}]},{"emoji":"\\ud83d\\udc4f","data":[{"x":"positive","y":10.83},{"x":"neutral","y":2.62},{"x":"negative","y":86.55}]},{"emoji":"\\ud83d\\udd25","data":[{"x":"positive","y":3.44},{"x":"neutral","y":0.85},{"x":"negative","y":95.71}]},{"emoji":"\\ud83d\\udc4d","data":[{"x":"positive","y":11.99},{"x":"neutral","y":2.84},{"x":"negative","y":85.17}]}]'